<?xml version="1.0"?>
<!--
  ~ Copyright © Thuiswinkel.org. All rights reserved.
  ~ See COPYING.txt for license details.
  -->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <section id="bewust_bezorgd" translate="label" type="text" sortOrder="1000" showInDefault="1" showInWebsite="1"
                 showInStore="1">
            <label>Bewust Bezorgd</label>
            <tab>sales</tab>
            <resource>Thuiswinkel_BewustBezorgd::config</resource>
            <class>bewust_bezorgd</class>
            <group id="branding" translate="label" type="text" sortOrder="1" showInDefault="1" showInWebsite="1"
                   showInStore="1">
                <label>Branding</label>
                <frontend_model>Thuiswinkel\BewustBezorgd\Block\Adminhtml\Render\Header</frontend_model>
            </group>
            <group id="general" translate="label" type="text" sortOrder="2" showInDefault="1" showInWebsite="1"
                   showInStore="1">
                <label>Thuiswinkel Bewust Bezorgd</label>
                <field id="version" translate="comment" type="label" sortOrder="22" showInDefault="1" showInWebsite="1"
                       showInStore="1">
                    <label>Version</label>
                </field>
                <field id="active" translate="label" type="select" sortOrder="24" showInDefault="2" showInWebsite="1"
                       showInStore="0">
                    <label>Enabled</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
            </group>
            <group id="api_settings" translate="label" type="text" sortOrder="2" showInDefault="1" showInWebsite="1"
                   showInStore="1">
                <label>API Settings</label>
                <field id="gateway_url" translate="label" type="text" sortOrder="24" showInDefault="2" showInWebsite="1"
                       showInStore="0" canRestore="1">
                    <label>Gateway URL</label>
                </field>
                <field id="api_shopid" translate="label" type="text" sortOrder="26" showInDefault="1"
                       showInWebsite="1" showInStore="1">
                    <label>API-ShopID</label>
                    <comment><![CDATA[Fill in the Merchant token you received from Thuiswinkel.org]]></comment>
                </field>
                <field id="api_password" translate="label" type="password" sortOrder="28" showInDefault="1"
                       showInWebsite="1" showInStore="1">
                    <label>API-Password</label>
                    <comment><![CDATA[Fill in the API Key you received from Thuiswinkel.org]]></comment>
                </field>
                <field id="validate_permission" translate="button_label" sortOrder="30" showInDefault="1"
                       showInWebsite="1" showInStore="0">
                    <button_label>Check Permissions</button_label>
                    <frontend_model>Thuiswinkel\BewustBezorgd\Block\Adminhtml\System\Config\ValidatePermissions</frontend_model>
                </field>
                <field id="debug" translate="label" type="select" sortOrder="32" showInDefault="2"
                       showInWebsite="1" showInStore="0">
                    <label>Debug Mode</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
                <field id="allowed_countries" translate="label" type="multiselect" sortOrder="34" showInDefault="1"
                       showInWebsite="1" showInStore="1" canRestore="1">
                    <label>Allowed Countries</label>
                    <source_model>Magento\Directory\Model\Config\Source\Country</source_model>
                    <can_be_empty>0</can_be_empty>
                </field>
            </group>
            <group id="display_settings" translate="label" type="text" sortOrder="4" showInDefault="1" showInWebsite="1"
                   showInStore="1">
                <label>Display Settings</label>
                <field id="can_show_logo" translate="label" type="select" sortOrder="42" showInDefault="2" showInWebsite="1"
                       showInStore="0">
                    <label>Show Bewust Bezorgd Icon on Shippingmethods</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
            </group>
            <group id="order_settings" translate="label" type="text" sortOrder="6" showInDefault="1" showInWebsite="1"
                   showInStore="1">
                <label>Save Settings</label>
                <field id="save_to_order" translate="label" type="select" sortOrder="62" showInDefault="2" showInWebsite="1"
                       showInStore="0">
                    <label>Save calculated emission per order</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
            </group>
            <group id="attributes" translate="label" type="text" sortOrder="8" showInDefault="1" showInWebsite="1"
                   showInStore="1">
                <label>Attribute Settings</label>
                <field id="attribute_length" translate="label" type="select" sortOrder="82" showInDefault="1"
                       showInWebsite="1" showInStore="1" canRestore="1">
                    <label>Attribute "Length"</label>
                    <validate>validate-select</validate>
                    <source_model>Thuiswinkel\BewustBezorgd\Model\Config\Source\ProductAttributes</source_model>
                </field>
                <field id="attribute_width" translate="label" type="select" sortOrder="84" showInDefault="1"
                       showInWebsite="1" showInStore="1" canRestore="1">
                    <label>Attribute "Width"</label>
                    <validate>validate-select</validate>
                    <source_model>Thuiswinkel\BewustBezorgd\Model\Config\Source\ProductAttributes</source_model>
                </field>
                <field id="attribute_height" translate="label" type="select" sortOrder="86" showInDefault="1"
                       showInWebsite="1" showInStore="1" canRestore="1">
                    <label>Attribute "Height"</label>
                    <validate>validate-select</validate>
                    <source_model>Thuiswinkel\BewustBezorgd\Model\Config\Source\ProductAttributes</source_model>
                </field>
            </group>
            <group id="data_mapping" translate="label" type="text" sortOrder="10" showInDefault="1" showInWebsite="1"
                   showInStore="1">
                <label>Data Mapping</label>
                <field id="service_type_mapping" translate="label" sortOrder="102" showInDefault="1"
                       showInStore="0" showInWebsite="1">
                    <label>Service Type Mapping</label>
                    <frontend_model>Thuiswinkel\BewustBezorgd\Block\Adminhtml\Config\Form\Field\ServiceTypeMapping</frontend_model>
                    <backend_model>Thuiswinkel\BewustBezorgd\Model\Config\Backend\ServiceTypeMapping</backend_model>
                </field>
            </group>
        </section>
    </system>
</config>
